doc/*
*~
build_*/**/*
**/build*/*
**/bin/*
!build*/CMakeLists.txt
!build*/compile
./lib
*.so
*.a
*compile*
src/System_of_eqs/do_newton.cpp
*.pyc
*venv*/
codes/**
!codes/**/
!codes/**/*.cpp
!codes/**/*.h
!codes/**/*.hpp
!codes/**/CMakeLists.txt
!codes/**/*.py

# keep build output ignored
codes/**/build/**
codes/**/CMakeFiles/**

**/CIs
